{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}Log In{% endblock %}</h2>
{% endblock %}

{% block content %}
<div class="w3-row">
    <div class="w3-col m4 l6">
        <div class="w3-card-2">
            <form class="w3-container" method="POST">
                <p>
                    <label for="username">Username</label>
                    <input class="w3-input w3-border input-dark" name="username" id="username" required>
                </p>
                <p>
                    <label for="password">Password</label>
                    <input class="w3-input w3-border input-dark" type="password" name="password" id="password" required>
                </p>
                <p>
                    <input class="w3-btn w3-light-blue btn-dark" type="submit" value="Log In">
                </p>
            </form>
        </div>
    </div>
</div>
{% endblock %}