astroid
blinker
certifi
chardet
charset-normalizer
click
colorama
Flask
Flask-SQLAlchemy
greenlet
gunicorn
idna
isort
itsdangerous
Jinja2
lazy-object-proxy
MarkupSafe
packaging
psycopg2-binary
pycodestyle
python-dateutil
python-dotenv
requests
six
SQLAlchemy
toml
typing_extensions
urllib3
uWSGI
Werkzeug
wrapt
