{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}Add New Feed{% endblock %}</h2>
{% endblock %}

{% block content %}
<div class="w3-row">
    <div class="w3-col m4 l6">
        <div class="w3-card-2">
            <form class="w3-container" method="POST">
                <p>
                    <label for="feed_url">Feed URL</label>
                    <input class="w3-input w3-border input-dark" name="feed_url" id="feed_url" value="{{ request.form['feed_url'] }}" required>
                </p>
                <p>
                    <input class="w3-btn btn-dark" type="submit" value="Save">
                </p>
            </form>
        </div>
    </div>
</div>
{% endblock %}