<article
  class="w3-round w3-card w3-margin-bottom w3-leftbar item {% if item.UserItem.read %}w3-border-pale-blue read{% else %}w3-border-light-blue unread{% endif %}"
  id="{{ item.Item.id }}"
>
  <div class="w3-container">
    <header>
      {% if item.UserItem.bookmark %}
      <a
        class="w3-right w3-button w3-circle bookmark w3-xlarge"
        data-id="{{ item.Item.id }}"
        data-marked="true"
      >
        <i class="material-icons">bookmark</i>
      </a>
      {% else %}
      <a
        class="w3-right w3-button w3-circle bookmark w3-xlarge"
        data-id="{{ item.Item.id }}"
        data-marked="false"
      >
        <i class="material-icons">bookmark_border</i>
      </a>
      {% endif %} {% if item.UserFeed.preview_articles %}
      <a
        class="article-preview"
        data-id="{{ item.Item.id }}"
        style="cursor: pointer; text-decoration: underline"
      >
        {% if item.Item.media_content %}
        <h3
          class="bg-image"
          style="background-image: url('{{ item.Item.media_content }}')"
        >
          <span>{{ item.Item.title }}</span>
        </h3>
        {% else %}
        <h3>{{ item.Item.title }}</h3>
        {% endif %}
      </a>
      {% else %}
      <a href="{{ item.Item.link }}" target="_blank">
        {% if item.Item.media_content %}
        <h3
          class="bg-image"
          style="background-image: url('{{ item.Item.media_content }}')"
        >
          <span>{{ item.Item.title }}</span>
        </h3>
        {% else %}
        <h3>{{ item.Item.title }}</h3>
        {% endif %}
      </a>
      {% endif %}
      <em
        >from
        <a href="/{{ item.Item.feed_id }}">
          {% if item.UserFeed.user_feed_name %} {{ item.UserFeed.user_feed_name
          }} {% else %} {{ item.Feed.name }} {% endif %}
        </a>
        on {{ item.Item.publication_date|datetimeformat }}
      </em>
    </header>
    <p>{{ item.Item.description|striptags|truncate }}</p>
    <p>
      {% if item.UserItem.read %}
      <a
        class="w3-btn w3-round w3-light-grey marker btn-dark"
        data-id="{{ item.Item.id }}"
        data-read="true"
        >Mark Unread</a
      >
      {% else %}
      <a
        class="w3-btn w3-round w3-light-grey marker btn-dark"
        data-id="{{ item.Item.id }}"
        data-read="false"
        >Mark Read</a
      >
      {% endif %}
    </p>
  </div>
</article>
