{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}Edit Feed {{ feed['feedname'] }}{% endblock %}</h2>
{% endblock %}

{% block content %}
<div class="w3-row">
    <div class="w3-col m5 l8">
        <div class="w3-card-2">
            <form class="w3-container" action="{{ url_for('rss_feed.edit_feed', id=feed.Feed.id) }}" method="POST">
                <p>
                    <label class="w3-text-dark-grey" for="feed_url">Feed URL</label>
                    <input class="w3-input" name="feed_url" id="feed_url" value="{{ feed.Feed.url }}" required>
                </p>
                {% if feed.UserFeed.user_feed_name %}
                <p>
                    <label class="w3-text-dark-grey" for="feed_name">Feed Name</label>
                    <input class="w3-input" name="feed_name" id="feed_name" value="{{ feed.UserFeed.user_feed_name }}" required>
                </p>
                <p>
                    Original name: {{ feed.Feed.name }}
                </p>
                {% else %}
                <p>
                    <label class="w3-text-dark-grey" for="feed_name">Feed Name</label>
                    <input class="w3-input" name="feed_name" id="feed_name" value="{{ feed.Feed.name }}" required>
                </p>
                {% endif %}
                <p>
                    <input {% if feed.UserFeed.auto_expire %}checked{% endif %} class="w3-check w3-margin-right" type="checkbox" name="auto-expire" id="auto-expire">
                    <label class="w3-text-dark-grey" for="auto-expire">Auto mark read items older than 2 days</label>
                </p>
                <p>
                    <input {% if feed.UserFeed.preview_articles %}checked{% endif %} class="w3-check w3-margin-right" type="checkbox" name="content-preview" id="content-preview">
                    <label class="w3-text-dark-grey" for="content-preview">Preview article contents in app</label>
                </p>
                <p>
                    <input class="w3-btn w3-light-blue" type="submit" value="Save Edits">
                    <a class="w3-btn w3-red w3-right" id="delete-feed-button" data-feed-id="{{feed.Feed.id}}">Delete</a>
                </p>
            </form>
        </div>
    </div>
</div>

{% endblock %}