{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}News Feed Items{% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('rss_feed.add_feed') }}">
    <img class="icon" src="{{ url_for('static', filename='icons/add-feed-icon.svg') }}" alt="Add New Feed" />
    <span class="action-text">Add New Feed</span>
</a>
{% if feed_name %}
<a class="action" href="{{ url_for('rss_feed.get_items', feed_id=feed_id) }}">
    <img class="icon" src="{{ url_for('static', filename='icons/refresh-feeds-icon.svg') }}" alt="Refresh Feed" />
    <span class="action-text">Refresh Feed</span>
</a>
<a class="action" href="{{ url_for('rss_feed.mark_read_all', feed_id=feed_id) }}">
    <img class="icon" src="{{ url_for('static', filename='icons/mark-read-icon.svg') }}" alt="Mark Feed Read" />
    <span class="action-text">Mark Feed Read</span>
</a>
{% else %}
<a class="action" href="{{ url_for('rss_feed.get_items') }}">
    <img class="icon" src="{{ url_for('static', filename='icons/refresh-feeds-icon.svg') }}" alt="Refresh All Feeds" />
    <span class="action-text">Refresh All Feeds</span>
</a>
<a class="action" href="{{ url_for('rss_feed.mark_read_all') }}">
    <img class="icon" src="{{ url_for('static', filename='icons/mark-read-icon.svg') }}" alt="Mark All Read" />
    <span class="action-text">Mark All Read</span>
</a>
{% endif %}
{% endif %}
{% endblock %}

{% block content %}
<div class="feed_controls">
    <div id="show_read">Show Read</div>
    {% if feed_name %}
    <a id="no_style" href="{{ url_for(request.url_rule.endpoint, feed_id=feed_id, sort=sort_order_opp) }}">
        <div id="sort_order">Sort {{ sort_order_opp }}</div>
    </a>
    <a id="no_style" href="{{ url_for('rss_feed.bookmarked_index', feed_id=feed_id) }}">
        <div id="bookmark">Feed Bookmarks</div>
    </a>
    {% else %}
    <a id="no_style" href="{{ url_for(request.url_rule.endpoint, sort=sort_order_opp) }}">
        <div id="sort_order">Sort {{ sort_order_opp }}</div>
    </a>
    <a id="no_style" href="{{ url_for('rss_feed.bookmarked_index') }}">
        <div id="bookmark">Bookmarks</div>
    </a>
    {% endif %}
</div>
{% if feed_name %}
<a href="{{ url_for('rss_feed.feed_index', feed_id=feed_id) }}">{{ feed_name }}</a>
<a href="{{ url_for('rss_feed.edit_feed', id=feed_id) }}"><img class="icon"
        src="{{ url_for('static', filename='icons/settings-icon.svg') }}" alt="Feed Settings" /></a>
{% endif %}
<script type="text/javascript" src="{{ url_for('static', filename='mark_read.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='show_hide.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bookmark.js') }}"></script>
{% if items %}
{% for item in items %}
<article class="item {% if item.read %}read invisible{% else %}unread{% endif %}" id="{{ item['id'] }}">
    <header>
        <div>
            {% if item['bookmark'] %}
            <img class="bookmark marked" src="{{ url_for('static', filename='icons/bookmark-red-icon.svg') }}"
                id="bm-{{ item['id'] }}" />
            {% else %}
            <img class="bookmark unmarked" src="{{ url_for('static', filename='icons/bookmark-icon.svg') }}"
                id="bm-{{ item['id'] }}" />
            {% endif %}
            <a href="{{ item['link'] }}">
                <h1>{{ item['title'] }}</h1>
            </a>
            <div class="about">from <a href="/{{ item['feed_id'] }}">{{ item['feed_name'] }}</a> on {{
                item['publication_date']|datetimeformat }}</div>
        </div>
    </header>
    <p class="body">{{ item['description']|safe }}</p>
    <div class="marker" id="mr-{{ item['id'] }}">Mark Read</div>
    <hr>
</article>
{% endfor %}
{% endif %}
<div class="notice">No more articles in feed.</div>
{% endblock %}