{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}News Feed Items{% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('rss_feed.add_feed') }}">Add New Feed</a>
<a class="action" href="{{ url_for('rss_feed.get_items') }}">Refresh All Feeds</a>
{% endif %}
{% endblock %}

{% block content %}
{% if feed_name %}
<a href="{{ url_for('rss_feed.edit_feed', id=feed_id) }}">{{ feed_name }}</a>
<a href="{{ url_for('rss_feed.get_items', feed_id=feed_id) }}"><img class="reload" src="{{ url_for('static', filename='reload.png') }}"></a>
{% endif %}
<script type="text/javascript" src= {{ url_for('static', filename='mark_read.js') }}></script>
{% for item in items %}
<article class="item">
    <header>
        <div>
            <a href="{{ item['link'] }}">
                <h1>{{ item['title'] }}</h1>
            </a>
            <div class="about">from <a href="/{{ item['feed_id'] }}">{{ item['feed_name'] }}</a> on {{
                item['publication_date']|datetimeformat }}</div>
        </div>
    </header>
    <p class="body" id="{{ item['id'] }}">{{ item['description'] }}</p>
    <span class="read" id="span{{ item['id'] }}">&nbsp;</span>
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}