{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Edit Your Feeds{% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="rtable">
    {% for user_feed in users_feeds %}
    {% if user_feed.UserFeed.user_feed_name %}
    <div class="rtable-cell rtable-left">{{ user_feed.UserFeed.user_feed_name }}</div>
    {% else %}
    <div class="rtable-cell rtable-left">{{ user_feed.Feed.name }}</div>
    {% endif %}
    <div class="rtable-cell rtable-center"><a href="{{ url_for('rss_feed.edit_feed', id=user_feed.Feed.id) }}"><img
                class="icon" src="{{ url_for('static', filename='icons/edit-icon.svg') }}"></a></div>
    <div class="rtable-cell rtable-right">
        <form id="inline" action="{{ url_for('rss_feed.delete_feed', id=user_feed.Feed.id) }}" method="POST">
            <input type="image" value="Delete" src="{{ url_for('static', filename='icons/delete-icon.svg') }}"
                onclick="return confirm('Are you sure?');">
        </form>
    </div>

    {% endfor %}
</div>
{% endblock %}