{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Edit Your Feeds{% endblock %}</h1>
{% endblock %}

{% block content %}
{% for user_feed in users_feeds %}
<div>
    <span class="table">{{ user_feed['feed_name'] }}</span>
    <span class="table"><a href="{{ url_for('rss_feed.edit_feed', id=user_feed['id']) }}">edit</a></span>
    <span class="table">
        <form id="inline" action="{{ url_for('rss_feed.delete_feed', id=user_feed['id']) }}" method="POST">
            <input type="submit" value="Delete" onclick="return confirm('Are you sure?');">
        </form>
    </span>
</div>
{% endfor %}
{% endblock %}